---
import Layout from "../layouts/Layout.astro";
import Gradient from "../components/Gradient.astro";
---

<script>
	import { Gradient } from "../lib/gradient.js";

	const gradientWrapper = document.getElementById("gradient-wrapper");
	const gradients = [...gradientWrapper.children];
	const sections = document.querySelectorAll("section");

	function observerCallback(entryRaw: IntersectionObserverEntry[]) {
		const entry = entryRaw[0];
		if (!entry.isIntersecting) return;

		const currentCycle = entry.target.dataset.idx;
		console.log(currentCycle)
		gradients.forEach((el) => {
			if (el.dataset.idx === currentCycle) {
				el.classList.add("current-gradient")
			} else {
				el.classList.remove("current-gradient")
			}
		})
	}

	const observer = new IntersectionObserver(observerCallback, { threshold: 0.75 });

	sections.forEach(observer.observe.bind(observer))

	gradients.forEach((el) => {
		const gradient = new Gradient();

		//@ts-ignore
		gradient.initGradient("#" + el.id.split(" ").find((i) => i.startsWith("gradient-canvas-")));
	})
</script>

<div id="gradient-wrapper">
	<Gradient cycle={0} />
	<Gradient cycle={1} />
	<Gradient cycle={2} />
	<Gradient cycle={3} />
</div>

<div id="container">
	<section data-idx=0>
		<img src="/demo/one.png" />
	</section>
	<section data-idx=1>
		<img src="/demo/two.png" />
	</section>
	<section data-idx=2>
		<img src="/demo/three.png" />
	</section>
	<section data-idx=3>
		<img src="/demo/four.png" />
	</section>
	<section data-idx=3>
		<img src="/demo/five.png" />
	</section>
</div>

<style>
	:global(body) {
		margin: 0;
	}

	#gradient-wrapper {
		display: contents;
	}

	:global(canvas) {
		opacity: 0;
		transition: opacity 0.75s;
	}
	:global(canvas.current-gradient) {
		opacity: 1;
	}

	#container {
		display: flex;
		flex-direction: column;
		gap: 4rem;
	}

	section {
		display: flex;
		justify-content: center;
	}

	img {
		width: 100%;
		max-width: 75rem;
	}
</style>
