---
import Layout from "../layouts/Layout.astro";
import Gradient from "../components/Gradient.astro";
---

<script>
	import { Gradient } from "../lib/gradient.js";

	const gradientWrapper = document.getElementById("gradient-wrapper");
	const gradients = [...gradientWrapper.children];
	const sections = document.querySelectorAll("section");

	function observerCallback(entryRaw: IntersectionObserverEntry[]) {
		const entry = entryRaw[0];
		if (!entry.isIntersecting) return;

		const currentCycle = entry.target.dataset.idx;
		console.log(currentCycle)
		gradients.forEach((el) => {
			if (el.dataset.idx === currentCycle) {
				el.classList.add("current-gradient")
			} else {
				el.classList.remove("current-gradient")
			}
		})
	}

	const observer = new IntersectionObserver(observerCallback, { threshold: 0.75 });

	sections.forEach(observer.observe.bind(observer))

	gradients.forEach((el) => {
		const gradient = new Gradient();

		//@ts-ignore
		gradient.initGradient("#" + el.id.split(" ").find((i) => i.startsWith("gradient-canvas-")));
	})
</script>

<div id="gradient-wrapper">
	<Gradient cycle={0} />
	<Gradient cycle={1} />
	<Gradient cycle={2} />
	<Gradient cycle={3} />
</div>

<Layout title="Background demo" background={false}>
	<section data-idx=0>
		<h2>Section One</h2>
		<p>
			Canius magnificus barkus persequor senectus barkus purus turba glande fidus tener voluptas metus collum concordia opulentia somnus pedibus, balneum sepelire exercitatio.

			Educatio, ludus, cibus latratu reprehensio, recipere exercitatio tristitia pellis olfacere vitalis piscis, exercitatio.Pugna iter auris captura canis collum protegere subridere fodio oculus spurcus ludicrum lingua os pupus exercitatio.Veterinarius tener amor luminosus naris saltuarius amicus, persequor capillus claritas pugnus comitatus dominus desiderium obscurus, investigare.

			Morsus captura curare nox saltuarius trepidus latratus rubrum familia exercitatio vagus purus natus, metus subridere timor gaudium inimicus otium saltare.

			Pellis donare imperitia repellere, rex sphaera felicitas ludo, recipere, salubritas otium, vigilare fodio nox prandium felicitas desiderium gaudium.Familia obscuritas, trepidus canis senex sphaera reprehensio saltare veterinarius paupertas foeditas, persequor imperitia manducare prandium discordia ludicrum.Ludicrum, pupus, persequor subridere luminosus iter oculus persequor agnus ludere vitalis paupertas rubrum amicitia, somnus purus, voluptas adulescens imperitia.Reprehensio obscuritas curare, subridere dominus investigare, recipere latratu, inimicus prandium spurcus collum peritia olfacere ludere laetitia trahere felicitas cauda tener.Pugnus, nox tener manducare confusio metus trahere fortitudo avis capillus veterinarius spurcus peritia.

			Captura glande vagus salubritas, ludus discordia dormire imperitia movet adventus piscis, repellere amicus venari dormire senectus adultus trepidus curare movet.

			Trepidus caninus venari rubrum amicitia, inertia recens ordo cauda pilum comitatus audacia venari, adulatio gustare foeditas auris gremium.Donare trahere captura peritia vagatio gratia currens inimicus opulentia amor latratus laetitia amicus, felicitas pupus.Glande paupertas olfacere protegere claritas fodio desiderium imperitia pilum captura naris venari repellere veterinarius persequor, vitalis vitalis lupus oculus sphaera.

			Confusio, exercitatio puer labore.
		</p>
	</section>
	<section data-idx=1>
		<h2>Section Two</h2>
		<p>
			Canius magnificus barkus investigare trepidus custodia opulentia rubrum, exercitatio barkus adulescens imperitia contentus latratus labor senex.Piscis pupus morsus medicamen nox puer felicitas dies salubritas, morsus, felicitas investigare gremium gratia curare pratum ingratitudo lupus, vestigium.Turba medicamen auris subridere reprehensio desiderium discordia amicitia caninus venari laboris olfacere vagatio peritia metus pedibus.Opulentia exercitatio piscis adventus purus pugna comitatus piscis dominus educatio vagatio lupus venari manducare disciplina, iter avis subridere saltare.

			Labor dormire capillus, obscuritas veterinarius cauda labore cattus fodio gratia, otium, sphaera ludere curriculum vibrare.

			Obscuritas inimicus custodia obscurus, bibo capillus latratus morsus ordo cauda, pugna currens.Lupus, lupus ludus pax recipere labor vitalis curare sniffare, discordia repellere pedibus, reprehensio olfacere discordia pulchritudo cauda somnus, currens rubrum salubritas.Vagatio obscuritas currens captura fortitudo turba, barkus ferus senex fortitudo discordia, spurcus ludus.Investigare desiderium os obscurus, dominus pugna opulentia pilum rex ordo moribundus amor pax audire senectus, ingratitudo somnus imperitia veterinarius vagatio.

			Oculus ludicrum paupertas chaos obscuritas familia luminosus capillus curiositas senectus moribundus dormire, senectus moribundus cauda spurcus familia auris vestigium ludus cibus adulatio.Audire vibrare confusio turba pulchritudo, educatio latratu, adulescens otium metus chaos ludicrum somnus recipere luminosus.

			Imperitia cibus donare sniffare somnus, ludus custos otium mellitus subridere adventus metus rubrum.Fidus custos mellitus rex, vitalis turba, pilum, gratia agnus cauda, opulentia pugna contentus cattus tener glande discordia disciplina desiderium ferox, curriculum.Amor senectus purus manducare ludo puer, medicamen investigare exercitatio recipere amicitia fortitudo iter somnus protegere canis dormire gaudium vagus ludicrum saltare, vagus.Labore ludicrum familia natus auris quattuor.
		</p>
	</section>
	<section data-idx=2>
		<h2>Section Three</h2>
		<p>
			Canius magnificus barkus pugna confusio cattus, adventus trepidus barkus, natus curiositas vibrare vigilare, cattus gaudium lupus agnus curare pedibus.

			Pugnus laetitia otium spurcus vibrare, lupus mellitus luminosus amicitia pugna desiderium pugnus puer lingua felicitas puer custodia educatio morsus cauda reprehensio gustare.Inertia turba fodio avis repellere fidus donare laboris, spurcus laetitia dentis quattuor somnus adultus pratum amicus reprehensio investigare domus.Canis puer iter otium prandium laboris pugnus dentis puer adventus exercitatio cauda trepidus pugnus, inertia gratia foeditas natus natus rex, fidus opulentia.Turba, naris pugna protegere currens sphaera somnus dominus fodio pugnus pugnus cattus labore.

			Educatio agnus reprehensio spurcus caninus ingratitudo pupus, desiderium, peritia, manducare auris custodia mellitus dominus vestigium educatio gustare paupertas foeditas recens custos donare.Domus saltare felicitas audire, ferus custos capillus, timor amor desiderium peritia fortitudo fodio.Educatio, fortitudo, perspicuitas amicitia felicitas mellitus ordo laboris veterinarius desiderium inertia morsus nox capillus pulchritudo protegere, quattuor hostilitas saltare, ordo.Purus custodia curriculum hostilitas opulentia moribundus medicamen gustare movet agnus vigilare senex currens.

			Labor pugnus reprehensio canis natus, venari disciplina latratus salubritas pedibus ferus ordo, vigilare magnificus donare repellere pilum subridere pedibus.

			Auris voluptas moribundus quattuor custodia vitalis audacia medicamen nox labore timor, imperitia custos.

			Contentus pupus custodia, subridere salubritas curriculum perspicuitas puer venari hostilitas gaudium salubritas iter, cattus peritia cibus pedibus otium obscuritas protegere movet, ludicrum.

			Pellis repellere somnus investigare, ordo, exercitatio donare lupus educatio adventus peritia piscis.

			Ludo, latratu canis curriculum domus vagus curiositas recipere subridere dentis amor vagatio pugnus ludicrum pellis discordia.Ordo currens ferox captura adulescens.		</p>
	</section>
	<section data-idx=3>
		<h2>Section Four</h2>
		<p>
			Canius magnificus barkus comitatus fodio peritia concordia, cauda dormire, gremium adulatio foeditas comitatus protegere puer collum ludicrum ordo ferox nox naris adulatio.Ludicrum trepidus saltuarius gustare, purus donare medicamen latratus canis prandium persequor, foeditas laboris recens, claritas, audire sphaera latratus purus recens.Gustare sphaera pratum, capillus tener fidus confusio exercitatio investigare timor ludere, laboris quattuor, desiderium voluptas obscurus amor avis latratu.

			Gustare familia adventus luminosus quattuor captura, chaos, agnus lingua os investigare dormire tener veterinarius os gratia avis.Sniffare persequor salubritas, amicitia avis, ludicrum oculus gratia ordo, gaudium repellere concordia repellere fortitudo, ferox iter.Confusio paupertas moribundus latratu pax gustare barkus vigilare senex avis currens cattus adultus medicamen vagatio pupus perspicuitas latratus.Oculus obscuritas pellis ludicrum dormire ludus, persequor pugnus labor glande senectus ferus saltuarius exercitatio os.

			Vibrare caninus amicitia os fortitudo adventus pratum trepidus voluptas timor discordia os saltare subridere confusio imperitia, gaudium currens, custos.Imperitia labore senex ludus vitalis desiderium curiositas senex trahere auris luminosus purus.Domus amor turba, iter contentus ferox reprehensio comitatus dominus opulentia, laboris laboris ingratitudo labor paupertas olfacere repellere venari desiderium medicamen pugnus.Subridere agnus venari desiderium recens os canis obscuritas custodia pratum imperitia pupus pugna pugnus ludo recens medicamen.Moribundus, olfacere caninus barkus exercitatio cauda sphaera, somnus pellis paupertas foeditas, rex vagus rex.Turba labore venari, amicitia protegere timor, sphaera barkus gaudium morsus discordia donare gaudium, obscurus, natus latratus subridere pugnus capillus pugna.Adventus adulescens pupus saltuarius reprehensio turba donare, audire os, audire cauda tristitia reprehensio curiositas, gratia timor.

			Pax vagus adventus os.
		</p>
	</section>
</Layout>

<style>
	#gradient-wrapper {
		display: contents;
	}

	:global(canvas) {
		opacity: 0;
		transition: opacity 0.75s;
	}
	:global(canvas.current-gradient) {
		opacity: 1;
	}

	p {
		margin-top: 2rem;
		font-size: 1.2rem;
	}

	section {
		--margin: 2rem;

		max-width: 70%;

		height: calc(100svh - var(--nav-height) - var(--margin));

		&:nth-child(1) {
			border: 4px solid #ff000040;
		}
		&:nth-child(2) {
			border: 4px solid #00ff0040;
		}
		&:nth-child(3) {
			border: 4px solid #0000ff40;
		}
		&:nth-child(4) {
			border: 4px solid #00000040;
		}
		&:nth-child(5) {
			border: 4px solid #ff00ff40;
		}
	}
</style>
