---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import Cta, { CtaVariant } from "../components/Cta.astro";
import Table from "../components/Table.astro";
import CaseStudies from "../components/CaseStudies.astro";
import Quotes from "../components/Quotes.astro";
import Team from "../components/Team.astro";
import Logos from "../components/Logos.astro";
import Changelog from "../components/Changelog.astro";
import Faq from "../components/Faq.astro";

const staticStats = [
	{
		title: "0 seconds",
		body: "is what you’ll spend on taxes and accounting. We take care of that for you."
	},
	{
		title: "3 minutes",
		body: "is all it takes to apply and be invited to your new account."
	},
	{
		title: "3 days",
		body: "is the longest it will take for you to hear back from your point of contact."
	},
	{
		title: "4+ hours",
		body: "is what our platform will save you weekly on financial tasks."
	}
];
---

<Layout title="The Hack Foundation" background={true}>
	<section class="mt-8">
		<header class="flex col gap-8">
			<h1>Fiscal sponsorship<br />for <em>today's</em> nonprofits.</h1>
			<div>
				<p class="font-medium text-2xl">
					Obtain 501(c)(3) nonprofit status in minutes, not months.
				</p>
				<p class="font-normal text-xl">
					We grant our member organizations 501(c)(3) non-profit status and provide them with
					modern-day tools for managing their money.
				</p>
			</div>
		</header>

		<Showcase />

		<p>
			Organizations that use HCB can send and accept money instantly.<br />
			<a>Learn more</a>
		</p>

		<Cta href="https://hackclub.com/hcb/apply" variant={CtaVariant.Main}>Become a nonprofit</Cta>
	</section>

	<section class="h-screen rounded-lg border-2 border-red-300">
		<h2>Section 2</h2>
	</section>

	<section class="h-screen rounded-lg border-2 border-red-300">
		<h2>Section 3</h2>
	</section>

	<section class="h-screen rounded-lg border-2 border-red-300">
		<h2>Section 4</h2>
	</section>

	<section class="h-screen rounded-lg border-2 border-red-300">
		<h2>Section 5</h2>
	</section>

	<section class="h-screen rounded-lg border-2 border-red-300">
		<h2>Section 6</h2>
	</section>
</Layout>
