<nav>
	<div class="content flex h-full">
		<a href="/" id="title">The Hack Foundation</a>

        <div id="links" class="flex">
            <a href="/why-hack">Why Hack?</a>
            <a href="what-to-know">What to know</a>
            <a href="https://hackclub.com/hcb/apply" id="apply">Apply</a>
        </div>
	</div>
</nav>
<div id="pushdown" aria-hidden="true"></div>

<style>
	a {
		text-decoration: none;
		color: inherit;
	}

	nav {
		position: fixed;
		height: var(--nav-height);
		left: 0;
        right: 0;
        top: 0;
     
        background-color: var(--dark-green);
        color: var(--white);
	}

    #links {
        gap: 3rem;
        font-family: var(--font-sans);
    }

	#title {
		font-size: 1.5rem;
        font-family: var(--font-serif);
	}

    a#apply {
        color: var(--cta-green);
        text-transform: uppercase;
        font-weight: bold;
    }

	.content {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	#pushdown {
		height: var(--nav-height);
	}
</style>
