---
import HCB from "./showcase/HCB.svelte";
import Cheque from "./showcase/Cheque.astro";
import Invoice from "./showcase/Invoice.astro";
import CreditCard from "./showcase/CreditCard.astro";
import Transfers from "./showcase/Transfers.astro";
import Documents from "./showcase/Documents.svelte";
---

<script>
	import anime from "animejs";

	anime({
		targets: "#hcb #hero-img",
		translateY: [0, "-41rem"],
		opacity: [0, 1],
		delay: 0,
		easing: "easeInOutExpo",
		duration: 1_800
	});
	anime({
		targets: "#hcb #garden-container",
		translateY: ["-100%", 0],
		delay: 0,
		easing: "easeInOutExpo",
		duration: 2_000
	});

	//#region Documents section

	//#endregion

	anime
		.timeline({ easing: "easeInOutExpo", delay: 0 })
		.add(
			{
				targets: "#hcb #event-name .letter",
				scale: [0, 1],
				opacity: [0, 1],
				translateZ: 0,
				duration: 500,
				delay: (_, i) => 25 * i
			},
			0
		)
		.add(
			{
				targets: "#hcb #event-balance .letter",
				scale: [0, 1],
				opacity: [0, 1],
				translateZ: 0,
				duration: 500,
				delay: (el, i) => 25 * i
			},
			0
		)
		.add(
			{
				targets: "#hcb img.avatar",
				translateX: [0, (el, idx) => idx * 16],
				duration: 1000
			},
			100
		)
		.add(
			{
				targets: "#hcb .transaction",
				scale: [0, 1],
				top: [0, (el, i) => `${i * el.clientHeight + i * 8}px`],
				opacity: [0, 1],
				duration: 1_600,
				delay: (_, i) => 80 * i
			},
			0
		)
		.add(
			{
				targets: "#cards-container p .letter",
				scale: [0, 1],
				opacity: [0, 1],
				duration: 500,
				delay: (el, i) => 25 * i
			},
			500
		)
		.add(
			{
				targets: "#invoice .placeholder-line",
				width: (_, i) => [0, i === 1 ? "75%" : "100%"],
				duration: 800,
				delay: (el, i) => 150 * i
			},
			700
		)
		.add(
			{
				targets: "#invoice p .letter",
				scale: [0, 1],
				opacity: [0, 1],
				duration: 500,
				delay: (el, i) => 25 * i
			},
			900
		)
		.add(
			{
				targets: "#transfers .placeholder-line",
				width: (_, i) => [0, i === 1 ? "25%" : "100%"],
				duration: 800,
				delay: (el, i) => 150 * i
			},
			700
		)
		.add(
			{
				targets: "#cheque .cheque-body p .letter",
				scale: [0, 1],
				opacity: [0, 1],
				duration: 500,
				delay: (el, i) => 20 * i
			},
			1500
		)
		.add(
			{
				targets: "#cheque #micr p .letter",
				translateY: ["100%", 0],
				rotateX: ["90deg", 0],
				opacity: [1, 1],
				duration: 500,
				delay: (el, i) => 50 * i
			},
			1500
		)
		.add(
			{
				targets: ".sig path",
				strokeDashoffset: [anime.setDashoffset, 0],
				easing: "easeInOutSine",
				duration: 1_000
			},
			2000
		);
</script>

<div class="flex items-end gap-4 w-full">
	<div class="w-3/5"><HCB client:load /></div>
	<div class="flex col gap-4 grow">
		<div class="flex gap-4 grow">
			<div class="flex col gap-4 grow">
				<CreditCard />
				<Invoice />
			</div>
			<div class="flex col gap-4 justify-end">
				<Transfers />
				<Documents client:only="svelte" />
			</div>
		</div>
		<Cheque />
	</div>
</div>
