<p style="font-size: 18px;">Since our founding in 2018, we've enabled;</p>

<div id="parent" class="flex items-center justify-between">
	<div class="flex col gap-4 w-1/3">
		<p class="statmain">$10,012,295.66</p>
		<p class="text-sm">transacted to date</p>
	</div>

	<div class="hr bg-muted-medium"></div>

	<div class="flex col gap-3 w-1/3">
		<p class="statmain">42,029</p>
		<p class="text-sm">transactions processed</p>
	</div>

	<div class="hr bg-muted-medium"></div>

	<div class="flex col gap-3 w-1/3">
		<p class="statmain">1,234</p>
		<p class="text-sm">active organisations</p>
	</div>
</div>

<style>
	p {
		@apply text-muted-darker;
	}
	.statmain {
		font-size: 28px;
		font-weight: 500;
		color: var(--text-green);
	}

	.hr {
		height: 3rem;
		width: 1.5px;
		background: #a0a0a0;
	}
</style>
