<div id="container" class="flex col gap-3 items-start justify-between p-5 text-muted-darker grow w-1/2">
    <p class="text-xl font-medium">Send an invoice</p>

    <div class="flex col gap-2 w-full">
        <div class="w-full h-1 rounded bg-muted" />
        <div class="w-2/3 h-1 rounded bg-muted" />
    </div>

    <div class="flex col items-start gap-1 w-full">
        <p class="text-xs">Amount</p>
        <div class="bg-muted px-2 py-1 rounded w-full">
            <p class="text-left text-lg">$123.45</p>
        </div>
    </div>

    <div class="flex col items-start gap-1 w-full">
        <p class="text-xs">Email</p>
        <div class="bg-muted px-2 py-1 rounded w-full">
            <p class="text-left text-sm">malted@hackclub.com</p>
        </div>
    </div>

    <div class="bg-muted px-2 py-1 rounded w-full">
        <p class="text-lg">Send →</p>
    </div>
</div>

<style>
    #container {
        border-radius: 0.375rem;
        border: 1px solid #E5E5E5;

        background: #FFF;
    }
</style>
